.normal-1,
.normal-2 {
    height: 150px;
    width: 90px;
    font-size: 40px;
    font-style: Tahoma;
    text-align: left;
    background-color: #eeeff2;
    margin-top: 5px;
    border-left: 10px dotted #D0D0FF;
    padding-left: 10px;
    margin-right: 10px;
}

.F-Style {
    height: 150px;
    width: 90px;
    font-size: 40px;
    font-style: Tahoma;
    background-color: #eeeff2;
    margin-top: 5px;
    text-align: left;
    border-left: 10px dotted #D0D0FF;
    padding-left: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.normal-1:hover,
.normal-2:hover,
.F-Style:hover {
    cursor: grab;
    background-color: yellow;
    color: goldenrod;
}


.container {
    display: flex;
    flex-direction: row;
}