.normal-1 {
    height: 100px;
    width: 100px;
    font-size: 40px;
    font-style: Tahoma;
    text-align: center;
    border-top: 1px solid #687291;
    background-color: #dfe1e7;
    margin-top: 5px;
}

.normal-2 {
    height: 100px;
    width: 100px;
    font-size: 40px;
    font-style: Tahoma;
    text-align: center;
    border-top: 1px solid #687291;
    background-color: #eeeff2;
    margin-top: 5px;
}

.F-Style {
    border: 4px solid black;
    height: 100px;
    width: 100px;
    font-size: 40px;
    font-style: Tahoma;
    background-color: #687291;
    margin-top: 5px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}