.normal {
    height: 100px;
    width: 100px;
    font-size: 40px;
    border-top: 1px solid blue;
    background-color: gray;
    margin-top: 5px;
    position: relative;
    position: (50%,50%);
}

.F-Style {
    border: 4px solid black;
    height: 100px;
    width: 100px;
    font-size: 40px;
    background-color: rgb(85,94,126);
    margin-top: 5px;
}